* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

main {
    height: auto;
    display: grid;
    grid-template-areas:
        "encabezado"
        "contenido"
        "pie";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: flex-start;
}

header {
    grid-area: encabezado;
    padding: 1em;
    top: 0;
    position: sticky;
    background-color: crimson;
}

header img{
  height: 100px;

}

.container{
  grid-area: contenido;
  display: grid;
  grid-template-areas:
      "titulo"
      "buscador"
      "cartas";
  grid-template-columns: auto;
  grid-template-rows: 0.10fr 0.10fr auto ;
  align-items: flex-start;
  justify-items: center;
}


.container h1 {
  grid-area: titulo;
    font-size: 2em;
    width: calc(100%);
    display: flex;
    height: auto;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container .buscador {
    grid-area: buscador;
    gap: 1em;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 0;

}


.contSection {
  margin: 0.5em 0;
  grid-area: cartas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contSection .loader {
  display: none; /* Por defecto, el GIF de carga estará oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.contSection .card {
    border-radius: 1em;
    margin: 1em;
    gap: 1em;
    border: 0.5em solid;
    border-color: #D3D3D3; /* Gris claro */
    width: 360px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s; /* Agrega transición para suavizar el efecto */
}

.contSection .card:hover {
  transform: perspective(1000px) rotateY(10deg); /* Aplica un efecto de perspectiva y rotación al hacer hover */
}


.container .card div{
  width: auto;
  height: 10em;
}

.container .card div img{
  width: 100%;
  object-fit: cover;
}


footer {
  grid-area: pie;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Establece la posición fija */
  bottom: 0; /* Lo coloca en la parte inferior */
  width: 100%; /* Ocupa todo el ancho */
  background-color: #FFFFFF; /* Cambia el color de fondo según sea necesario */
}



/* colores card*/
/* CSS para colores claros */

/* Psíquico */
.psiquico {
    background-color: #E6E6FA; /* Lavender */
  }
  
  /* Planta-Veneno */
  .planta-veneno {
    background-color: #98FB98; /* Pale Green */
  }
  
  /* Fuego */
  .fuego {
    background-color: #FFDAB9; /* Peach Puff */
  }
  
  /* Tierra */
  .tierra {
    background-color: #FFE4B5; /* Moccasin */
  }
  
  /* Normal */
  .normal {
    background-color: #F5F5F5; /* White Smoke */
  }
  
  /* Normal-Volador */
  .normal-volador {
    background-color: #87CEFA; /* Light Sky Blue */
  }
  
  /* Fantasma-Veneno */
  .fantasma-veneno {
    background-color: #D8BFD8; /* Thistle */
  }
  
  /* Lucha */
  .lucha {
    background-color: #FFA07A; /* Light Salmon */
  }
  
  /* Roca-Agua */
  .roca-agua {
    background-color: #AFEEEE; /* Pale Turquoise */
  }
  
  /* Normal-Hada */
  .normal-hada {
    background-color: #FFB6C1; /* Light Pink */
  }
  
  /* Veneno */
  .veneno {
    background-color: #DDA0DD; /* Plum */
  }
  
  /* Eléctrico */
  .electrico {
    background-color: #F0E68C; /* Khaki */
  }
  
  /* Agua */
  .agua {
    background-color: #ADD8E6; /* Light Blue */
  }
  
  /* Siniestro */
  .siniestro {
    background-color: #C0C0C0; /* Silver */
  }
  
  /* Psíquico-Volador */
  .psiquico-volador {
    background-color: #B0E0E6; /* Powder Blue */
  }
  
  /* Bicho-Volador */
  .bicho-volador {
    background-color: #90EE90; /* Light Green */
  }
  
  /* Eléctrico-Volador */
  .electrico-volador {
    background-color: #00BFFF; /* Deep Sky Blue */
  }
  